<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinactivities">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:background="#F4F5F7"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WaveAway Beach"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinActivites"
        tools:targetApi="31">
        <activity
            android:name=".authenticationPage.RegisterGoogleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KotlinActivites" />
        <activity
            android:name=".adminPage.AdminMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userPage.profilePage.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authenticationPage.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KotlinActivities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:usesCleartextTraffic="true" /> <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Other Activities -->
        <activity
            android:name=".userPage.homePage.BookingRoomActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authenticationPage.VerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userPage.homePage.RoomDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userPage.homePage.PaymentNotImplementedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authenticationPage.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authenticationPage.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>